@font-face {
    font-family: 'Rancho';
    src: url(../fonts/Rancho-Regular.ttf);
}

.brand-logo {
    font-family: 'Rancho', sans-serif;
    padding: 0px;
    white-space: nowrap;
}

#app-main {
    margin-top: 40px;
}

#content-body {
    margin-top: 40px;
}

.title {
    margin-bottom: 40px;
}

.competition--logo {
    height: 300px;
}

.competition--logo > img {
    padding: 30px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.competition--content {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.collapsible-header {
    position: relative;
}

.collapsible-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.collapsible-arrow > i {
    margin: 0;
}
